<meta>
    <settings>
        <servicenow
                url=""
                user=""
                password=""/>
        <device42
                url=""
                user=""
                password=""/>
    </settings>

    <tasks>
          <task enable="true" description="Copy from servicenow to Device42 (cmdb_ci_server)">
            <api>
                <resource target="serviceNow" method="GET" path="/api/now/table/cmdb_ci_server"/>
                <target model="device" target="device42" method="POST" update_method="PUT" path="/api/1.0/device/"/>
            </api>

            <mapping callback="to_d42" key="device_id">
                <field resource="name" type="string" target="name"/>
                <field resource="serial_number" type="string" target="serial_no"/>
                <field resource="classification" type="string" target="service_level"/>
                <field resource="asset_tag" type="string" target="asset_no"/>
                <field resource="mac_address" type="string" target="macaddress"/>
                <field resource="cpu_count" type="integer" target="cpucount"/>
                <field resource="cpu_core_count" type="integer" target="cpucore"/>
                <field resource="cpu_speed" type="integer" target="cpupower"/>
                <field resource="ram" type="float" target="memory"/>
                <field resource="disk_space" type="float" target="hddsize"/>
                <field resource="os" type="string" target="os"/>
                <field resource="os_version" type="string" target="osver"/>
                <field resource="short_description" type="string" target="notes"/>
                <field resource="model_id" sub_field="manufacturer" sub_field2="name" type="string" target="manufacturer"/>
                <field resource="model_id" sub_field="name" type="string" target="hardware"/>
            </mapping>
        </task>

        <task enable="true" description="Copy from Servicenow to Device42 (Vendors)">
            <api>
                <resource target="serviceNow" method="GET" path="/api/now/table/core_company"/>
                <target model="company" target="device42" method="POST" update_method="PUT" path="/api/1.0/vendors/"/>
            </api>

            <mapping callback="to_d42" key="name">
                <field resource="name" type="string" target="name"/>
                <field resource="website" type="string" target="homepage"/>
            </mapping>
        </task>

    </tasks>
</meta>